# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [4]:
print ("Eu sou Minerador de Dados!")

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [5]:
print ( 1 + 1)
print (1 - 3)
print (9 * 100)
print (45 / 9)

2
-2
900
5.0

3) Imprima o tipo de um determinado valor inteiro.

In [ ]:
n = int(15)
print (n)

4) Converta o valor passado anteriormente para o tipo float

In [6]:
n = float(n)
print(n)

15.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [8]:
n = str(n)
print (n)
type (n)

15.0

str

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [11]:
n1 = round(2.898)
n2 = round(2.4545455, 4 )
print (n1, n2)

3 2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [17]:
nome = 'Marcos'
print(nome)
nome = nome + ' Fragoso'
print (nome)
email, idade = 'aaa@aaa.com', 31
print(email, idade)

Marcos
Marcos Fragoso
aaa@aaa.com 31

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

In [ ]:
Python não permite criar variáveis com nomes iguais a de funções da linguagem.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [30]:
frase = 'Python é uma maldição!'
print (frase[0])
print (frase[:6])
len(frase)

P
Python

22

In [34]:
frase = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados..'
frase.count('dados')

2

In [35]:
frase.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [38]:
frase.split(',')

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [40]:
idades = [30, 33, 27, 15, 69]
idades

[30, 33, 27, 15, 69]

In [41]:
idades[1]

33

In [44]:
len(idades)

5

In [45]:
idades[1] = 54
idades

[30, 54, 27, 15, 69]

In [48]:
idades.remove(15)

ValueError: list.remove(x): x not in list

In [49]:
idades

[30, 54, 27, 69]

In [59]:
salarios = [900,1200,1500,800,12587,10000]
salarios

[900, 1200, 1500, 800, 12587, 10000]

In [60]:
10000 in salarios

True

In [61]:
min(salarios)

800

In [62]:
max(salarios)

12587

In [65]:
salarios.extend([7000])

In [66]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 700, 7000]

In [67]:
salarios.index(800)

3

In [68]:
salarios.sort()
salarios

[700, 800, 900, 1200, 1500, 7000, 10000, 12587]

In [69]:
salarios.sort(reverse = True)
salarios

[12587, 10000, 7000, 1500, 1200, 900, 800, 700]