In [1]:
import pandas as pd

In [8]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [16]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}

In [24]:
moedas = pd.DataFrame(eventos)

TypeError: cannot concatenate object of type "<class 'str'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid

In [19]:
moedas.head()

  m1 m2 m3 m4 m5
0  C  C  C  c  C
1  C  C  c  C  C
2  c  C  c  C  C
3  C  C  C  c  c
4  C  C  C  c  C

In [25]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])

In [21]:
df

   Faces
c   Cara
C  Coroa

In [26]:
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)

/home/marcos/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [27]:
df

   Faces  m1  m2  m3  m4  m5
C  Coroa  25  24  31  27  25
c   Cara  25  26  19  23  25